@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 84% 4.9%;
  --foreground: 210 40% 98%;
}

@layer base {
  * {
    @apply border-slate-700;
  }

  body {
    @apply bg-slate-950 text-slate-100;
    font-family: var(--font-manrope), sans-serif;
  }

  .font-display {
    font-family: var(--font-playfair), serif;
  }
}
